<nb-card>
	<nb-card-header>{{title}}
		<i *ngIf="description" class="eva eva-alert-circle-outline" [nbPopover]="templateRef" nbPopoverTrigger="hover"></i>
		<ng-template #templateRef>
			<div class="popover-wrapper">
				<p>{{description}}</p>
				<a href="{{referenceLink}}" target="_blank">Learn more.</a>
			</div>
		</ng-template>
	</nb-card-header>
	<nb-card-body>
		<div class="value-wrapper">
			<p>Latest</p>
			<p>{{latestValue}}</p>
		</div>
		<div class="value-wrapper">
			<p>Median</p>
<!--			<p>Median <sub>(last 24 hrs)</sub></p>-->
			<p>{{medianValue}}</p>
		</div>
	</nb-card-body>
</nb-card>
