<svg class="circular-chart" [ngClass]="color">

	<defs>

		<linearGradient id='grad'>
			<stop stop-color='#C80205'></stop>
			<stop stop-color='#43d204'></stop>
			<stop stop-color='#f6f804'></stop>
			<stop stop-color='#43d204'></stop>
		</linearGradient>
	</defs>

	<path class="circle" [attr.d]="describeArc(100, 227, 90, 45, 315)"></path>
	<!--	<path class="circle" [attr.d]="describeArc(100, 280, 90, 0, 359)"></path>-->
	<!--	<text x="100" y="20.35" class="percentage">{{percentage}}</text>-->
</svg>
